body {
  background-color: #74b9ff;
}

.main_greeting {
  color: #0984e3;
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

/* class명에 해당 클래스가 추가되어있는 경우 css style로 지정가능 */
.clicked {
  color: #6c5ce7;
}

.greeting,
.clock {
  text-align: center;
}

.clock {
  color: #2d3436;
}

.name {
  /* display: flex; */
  /* margin: vertical horizontal */
  margin: 0 auto;
  width: 300px;
}

.input {
  width: 300px;
  height: 50px;
  /* padding을 포함한 width, height 설정 */
  box-sizing: border-box;
}

.enrolled {
  display: none;
}

.user_form {
  text-align: center;
  color: #2d3436;
}

.form_toDo {
  margin: 0 auto;
  width: 300px;
}

.div_list {
  margin: 0 auto;
  width: 300px;
}
